<!DOCTYPE html>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Projects</title>
</head>
<body>
    <div style="text-align: right;">
        <h3>{{user}}</h3>
    </div>
    
    <form method="POST" action="{{url_for('main.show_my_projects')}}">
    <select name="projectName" method="GET" aria-placeholder="Select a Project">
    <option value="default" disable selected hidden>Select a Project</option>
      {% for names in projectName %}
      <option value="{{names}}">{{names}}</option>
      {% endfor %}
    </select>
    <input class='btn' type="submit" value= 'submit'>
</form>

<p>&nbsp;</p>
<form action="{{ url_for('main.app_callback') }}" method="GET">
    <div style="text-align: center; border: 0px solid">
        <button class='btn' type="submit">Back</button>
    </div>
</form>
</body>
</html>