<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Template Selection</title>
</head>
<body>
    <h1>Project: {{projectName}}</h1>
    <form method="POST" action="{{url_for('main.get_inspection')}}">
        {% for names in templateName %}
        <input type="checkbox" name="templateName" value="{{names}}">
        <label>{{names}}</label><br><br>
        {% endfor %}
    <input class='btn' type="submit" value= 'submit'>
    </form>
    
    <p>&nbsp;</p>
    <form action="{{ url_for('main.app_callback') }}" method="GET">
        <div style="text-align: center; border: 0px solid">
            <button class='btn' type="submit">Back</button>
        </div>
    </form>
</body>
</html>